    /*GENERAL*/
html {
    font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 100%;
    background-color: #F2f2f2;
    line-height: 1.6;
}
img {
    max-width: 100%;
}
body {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}
a {
    color: #348eda;
}

/*TEXT STYLING*/
 h1, h2, h3,h4,h5,h6 {
    font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin-bottom: 15px;
    color: #000;
    margin: 40px 0 10px;
    line-height: 1.2;
    font-weight: 200;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 16px;
    font-style: underline;
}
h5 {
    font-size: 16px;
    font-style: italic;
}
h6 {
    font-size: 14px;
}
p, ul, ol {
    margin-bottom: 10px;
    /*font-weight: normal;*/
    font-size: 14px;
    font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #000;
    line-height: 1.2;
    font-weight: 200;
}
ul li, ol {
    margin-left: 0px;
    list-style-position: inside;
}

li {
    font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #000;
    font-weight: normal;
    font-size: 14px;
    font-weight: 200;
    list-style: none;

}

/*BODY STYLING*/

.navbar {
    font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: italic;
    width: 93%;
    height: 100%;
    padding: 2px;
    text-align: center;
}
.body-wrap {
    width: 100%;
}
.container {
    border: 1px solid #f0f0f0;
}
table {
  padding: 20px;
}
.content table, h1, h3, h4, li, ol{
    background-color: #ffffff;
}

.quick-links-ruby {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
}

.quick-links-js {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
       border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
}

/*FOOTER STYLING*/
.footer-wrap {
    margin-left: auto;
    margin-right: auto;
}

.footer.container {
    font-family:"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 2px;
    text-align: center;
}

.footer-content p {
    color: #666;
     font-size: 10px;
     text-align: center;
}
.footer-content li {
    list-style: none;  
    display: inline-block;
     font-size: 10px;
     text-align: center;    
}
}
/*CODE STYLING*/

code {
    background: url(code_bg.png) repeat left top;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    width: 550px;
    float:left;
}
code li {
    color: #669933;
    font-family:"Consolas", "Courier New", Courier, mono;
    line-height: 0px;
    /* to remove white border issue */
    white-space: pre;
}
code {
    counter-reset: li;

}
code li:before {
    counter-increment: li;
    content: counter(li)". ";
    background: #ececec;
    border-right: 1px solid #cccccc;
    color: #555555;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    /* minumum line height = 24, smaller causes white border issue */
    margin-right: 20px;
    padding-right: 5px;
    text-align: right;
    width: 50px;
}
code li:empty {
    display: none;
}
code ol {
    list-style-type: none;
}

/*/* ---------------------------------------------------
        RESPONSIVENESS
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
    display: block!important;
    max-width: 600px!important;
    margin: 0 auto!important; /* makes it centered */
    clear: both!important;
}

/* Set the padding on the td rather than the div for Outlook compatibility */
.body-wrap .container {
    padding: 20px;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
    max-width: 600px;
    margin: 0 auto;
    display: block;
}

/* Let's make sure tables in the content area are 100% wide */
.content table {
    width: 100%;
}*/