a:link {color:#0000FF;}
a:visited {color:#CC66FF;}
a:hover {color:#CC3300;}
a:active {color:#009999;}

#footer {
	position:absolute;
}

#header {
	position:static;
}
#left {
	position:left;
	width:100px;
	padding:20px;
	float: left;
}

<div id="image">
<p>This image displays CSS Page Structure.</p>
<img src="http://noupe.com/img/css-layouts.gif" alt=”Practice Image” />
</div>

#image {
	position:absolute;
	width:100%;
	height:100%;
}
